*{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    
}
/* body{
    width: 70%;
    margin: 30px auto;
    
} */
.hidden{
    visibility: hidden;
}

nav{
    margin: 50px 240px;
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-title img{
    width: 86.041px;
    height: 42px;
    margin-top: 10px;

    

}

.nav-title{

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    /* right: 238px; */
    
}
.nav-heading{
    
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.icons{
    width: 33.916px;
height: 24px;
flex-shrink: 0;
}
.nav-container li{
    list-style: none;
    
    
}
.nav-menu {
    
}



    .nav-menu ul {
        display: flex;
        justify-content: center;
        align-items: center;
    
}
.nav-menu li{
    width: 100px;
}
.title-image-container{
    width: 100px;
}

.nav-container{
    display: flex;
    justify-content: space-between;
   
  
}
.icon-div{
    display: flex;
    width: 300px;
height: 56px;
flex-shrink: 0;
background-color: #0B02231A;
align-items: center;
justify-content: center;
border-radius: 8px;
padding-left: 5px;
padding-left: 28px;
}
a{
    text-decoration: none;
}

.icon-div > li{
    width: 100px;
    text-align: center;
}
#btn-sign-in{
    padding:  21px 40px;
    border-radius: 48px;
    background: #F948B2;
    width: 180px;
    color: white ;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    
}

/* banner section style */
.banner-container{
    background-color: #fff;
}

.banner-heading h1{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text; 
    color: transparent;
    display: flex;
    /* gap: 10px; */
    align-items: center;
   

font-size: 95px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
    
}
.big-dot {
    width: 27px; /* Adjust the width and height to control the size of the dot */
    height: 27px;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
    position: relative;
    top: 20px;

}

.banner-description h3{
    color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;

font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;

}
.banner-description{
    margin-top: 200px;
}

.btn-btn-primary{
    padding: 21px 40px;
    border-radius: 48px;
background: #4EC5F7;
    width: 180px;
    color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
  
.banner-description p{
    margin-bottom: 10px;
}

.banner-top-image{
    width: 711px;
    height: 446px;
    flex-shrink: 0;
}
.banner-container{
    display: flex;
    justify-content: space-evenly;
    
}

/* online game section style */
main{
    margin-top: 30px;
}
.online-description-container{
    
    margin: 32px 25%;
    text-align: center;
}

.img-top img{
    width: 634.833px;
height: 650px;
flex-shrink: 0;
}
.img-bottom{
    width: 318.5px;
height: 365.083px;
flex-shrink: 0;
position: relative;
right: 784px;
top:81px;
}

.game-img{
    display: flex;
    justify-content: center;
    gap: 61px;
    width: 70%;
    margin: 140px auto;
}
/* .game-img img{
    width: 24%;
} */
.text-gradiant{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text; 
    color: transparent;

}

.play-section{
    display: flex;
   justify-content: space-evenly;
   margin-bottom: 136px;
    
}
.play-description{
    width: 20%;
    margin-right: 10%;
    margin-top: 206px;
    text-align: center;
    position: relative;
    left: 141px;
}

/* button section */

.btn-game {
    width: 243px;
    padding: 31px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.button-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    justify-content: center;
    margin-left: 72px;
    row-gap: 20px;
    padding: 20px;
    margin-bottom: 40px;
}

/* footer section style */
.footer-container{
    background: #0B0223;
    padding: 130px auto;
}
.footer-heading{
    
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: #FFF;
    padding-top: 90px;
}
.footer-feature{
    color: #FFF;
    text-align: center;
    display: flex;
    /* width: 38%; */
    gap: 60px;
    margin: 0 auto;
    /* align-content: center; */
    justify-content: center;
    margin: 40px 0;
}

.btn-game span{
    color: #0B0223;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.footer-sponsor-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    /* height: 26px; */
}

    .footer-sponsor-icons img {
        width: 39px;
        /* height: 13px; */
        color: white;
        margin-bottom: 20px;
    }
    .footer-policy {
        color: rgba(255, 255, 255, 0.60);
        text-align: center;
        font-size: 8px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-align: center;
        display: flex;
        margin-top: 20px;
        /* width: 42%; */
        gap: 60px;
        /* margin: 0 auto; */
        align-content: stretch;
        justify-content: center;
        align-items: center;
    }



.footer-end{
    color: rgba(255, 255, 255, 0.60);
text-align: center;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 2rem;
}

/* responsive style */



@media screen and (max-width: 580px) {
    /* body{
        width: 100%;
        margin: 30px auto;
        
    } */
   
    
    
    
    .nav-title,
    .nav-container,
    .banner-container,
    .play-section,
    .nav-menu ul{
        flex-direction: column;
        
        
    }
    /* .nav-title{
        position: static;
        gap: 0;
        
    } */
    .game-img{
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin: 20px auto;
        
    }
    /* .game-img img{
        width: 70%;
    } */
    nav
    {
       width: 100%;
        padding: 0;
        margin: 0;
        
    }
    .icon-div{
       
        padding: 0;
        margin: 0;
        
    }
    /* .nav-heading{
        
        width:187px ;
    } */
    .nav-menu ul{
        gap: 20px;
    


    }
    
.footer-policy{
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    display: flex;
    margin-top: 20px;
    /* width: 42%; */
    /* gap: 60px; */
    /* margin: 0 auto; */
    align-content: stretch;
    justify-content: space-around;
    align-items: center;

}
    .banner-description h3{
        font-size: 28px;
        text-align: center;
       
    }
    .banner-heading h1{
        text-align: center;
font-family: Work Sans;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
        margin-bottom: 20px;
        justify-content: space-between;
        
    }
    .banner-top-img{
        width: 100%;
    }
    .banner-description{
        margin-top: 50px;
    }
    .btn-btn-primary{
        padding: 9px 28px;
        font-size: 20px;
        width: 150px;
    }

    /* .big-dot {
        width: 18px;
        height: 18px;
        background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        border-radius: 82%;
        position: relative;
       
    } */
    .banner-container {
    
        gap: 34px;
    }
    .button-div{
        width: 42%;
        margin: 0 auto;
    }
    .paragraph-container{
        
        text-align: center;
    }
   
    .btn-game img{
        width: 20px;
        height: 20px;
    }
    .btn-game {
        width: 140px;
        padding: 15px;
        height: 61px;
        flex-shrink: 0;
        border-radius: 50px;
        background: #FFF;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .online-description-container{
        text-align: center;
    }
    .play-description{
        margin:  auto;
        position: static;
        width: 100%;
    }
    .play-description h2{
        text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 125% */
    }
    .floating-img-container{
        width: 30%;
        margin-left: 147px;
        margin-top: 41px;
    }
    .img-top{
        width: 247px;
        height: 217px;
    }
    
    .img-bottom{
        left: -52px;
        top: -84px;
        height: 100px;
        width: 100px;
}
    .play-section{
        margin: 0px;
    }
    section{
        width: 100%;
    }
    .button-container{
        display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    justify-content: center;
    margin-left: 0px;
    row-gap: 20px;
    /* padding: 5px; */
    margin-bottom: 40px;
    /* margin: 0 auto;
       margin-left: 0px;
    }
    /* .button-container{
        grid-template-columns: repeat(3, 1fr);
        row-gap: 19px;
     */
    }
    .footer-sponsor-icons img {
        width: 13px;
        /* height: 13px; */
        color: white;
        margin-bottom: 20px;
    }
    
    
    #btn-sign-in{
        padding: 9px 28px;
    font-size: 20px;
    width: 150px;
    }
    
    .footer-feature {
        color: #FFF;
        text-align: center;
        display: flex;
        /* width: 15%; */
        gap: 17px;
        margin: 0 auto;
        /* align-content: center; */
        justify-content: center;
        margin: 30px;
    }
    .footer-sponsor-icons{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}