*{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    
}
header{
    width: 70%;
    margin: 0 auto;
    
}

nav{
    margin: 50px 240px;
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-title img{
    width: 86.041px;
    height: 42px;
    margin-top: 10px;

    

}

.nav-title{

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    right: 238px;
    
}
.nav-heading{
    
    font-size: 40px;
    width: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.icons{
    width: 33.916px;
height: 24px;
flex-shrink: 0;
}
.nav-container li{
    list-style: none;
    
    
}


.nav-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    text-align: center;
    
}
.nav-menu li{
    width: 100px;
}
.title-image-container{
    width: 100px;
}

.nav-container{
    display: flex;
   
  
}
.icon-div{
    display: flex;
    width: 300px;
height: 56px;
flex-shrink: 0;
background-color: #0B02231A;
align-items: center;
justify-content: center;
border-radius: 8px;
padding-left: 5px;
padding-left: 28px;
}
a{
    text-decoration: none;
}

.icon-div > li{
    width: 100px;
    text-align: center;
}

/* banner section style */
.banner-container{
    background-color: #fff;
}

.banner-heading h1{
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text; 
    color: transparent;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: baseline;
    text-align: center;
font-family: Work Sans;
font-size: 95px;
font-style: normal;
font-weight: 800;
line-height: normal;
text-transform: uppercase;
    
}
.big-dot {
    width: 27px; /* Adjust the width and height to control the size of the dot */
    height: 27px;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
    position: relative;
    top: 20px;

}

.banner-description h3{
    color: #0B0223;

font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;

}
.banner-description{
    margin-top: 200px;
}

.btn-btn-primary{
    padding: 21px 40px;
    border-radius: 48px;
background: #4EC5F7;
    width: 180px;
    color: #FFF;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
  
.banner-description p{
    margin-bottom: 10px;
}

.banner-top-image{
    width: 711px;
    height: 446px;
    flex-shrink: 0;
}
.banner-container{
    display: flex;
    gap: 176px;
    
}

/* responsive style */

@media screen and (max-width: 580px) {
   
    
    
    .nav-title,
    .nav-container,
    .banner-container,
    .nav-menu ul{
        flex-direction: column;
        
        
    }
    .nav-title{
        position: static;
        gap: 0;
        
    }
    nav
    {
       width: 100%;
        padding: 0;
        margin: 0;
        
    }
    .icon-div{
       
        padding: 0;
        margin: 0;
        
    }
    .nav-heading{
        
        width:187px ;
    }
    .nav-menu ul{
        gap: 20px;
    margin: 0 auto;

    }
    .banner-description h3{
        font-size: 20px;
    }
    .banner-heading h1{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .banner-top-img{
        width: 100%;
    }
}