*{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
header{
    width: 70%;
    margin: 0 auto;
    border: 5px solid tomato;
}

nav{
    margin: 50px 240px;
}

.nav-title img{
    width: 86.041px;
    height: 42px;
    margin-top: 10px;

    

}

.nav-title{

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    
}
.nav-heading{
    
    font-size: 40px;
    width: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.icons{
    width: 33.916px;
height: 24px;
flex-shrink: 0;
}
.nav-container li{
    list-style: none;
    
    
}


.nav-menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    text-align: center;
    
}
.nav-menu li{
    width: 100px;
}
.title-image-container{
    width: 100px;
}

.nav-container{
    display: flex;
   
  
}
.icon-div{
    display: flex;
    width: 300px;
height: 56px;
flex-shrink: 0;
background-color: #0B02231A;
align-items: center;
justify-content: center;
border-radius: 8px;
padding-left: 5px;
padding-left: 28px;
}
a{
    text-decoration: none;
}

.icon-div > li{
    width: 100px;
    text-align: center;
}